body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 50px;
}

input {
    width: 272px;
    max-height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
}

input:hover {
    border: 1px solid #000;
}

input:not(:placeholder-shown) {
    border: 1px solid #4e75ff;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
    outline: none;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

button:hover {
    background: #6c8cff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 24px;
    margin-top: 32px;
    max-width: 1128px;
}

.gallery > li {
    width: calc((100% - 48px) / 3);
}

img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border: 1px solid #808080;
}

.description {
    display: flex;
    font-weight: 400;
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    width: 360px;
    height: 48px;
}

.description > li > span {
    font-weight: 600;
}

.description > li {
    text-align: center;
}

